<div class="container">
	<div class='row'>			
		<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class='well well-lg'>
					<h2><b>Login</b></h2>
					<div ng-controller='logRegCtrl'>
			
						<form name="loginForm" ng-submit='login()'>
							<input type='email' class="form-control" ng-model='email' name='email' placeholder='Enter Email' required><br>
							<input type='password' class="form-control" ng-model='password' placeholder='Password' required><br>
							<input type='submit' class='btn btn-primary' value='Login'>
						</form>
		
					</div>
				</div>
			</div
		</div>
  		<div class="col-md-4"></div>
	</div>
</div>



